.footer {
    margin: 0%;
    padding: 5px;
    background-color: #262626;
  }
  
  .footer p {
    font-family: Inter;
    color: #fff;
    margin: 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
  
  .footer p i {
    color: #fff;
  }
  